


.rewards-list {
    /* font-weight: bold; */
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    align-items: center;
    /* border: 1px solid black; */
  }
  
  .rewards-list-table{
    width: 500px;
  }
  .rewards-list-table thead{
    background-color: rgb(150, 209, 0);
    color: white;
  
  }
  
  th{
    padding: 10px;
  }
  
  td{
    background-color: rgb(249, 255, 231);
    padding: 10px;
  }
  